
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import 'flatly.scss';

//  Welcome/Login page Navbar
.navbar-laravel {
  background-color: $primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//  Vertical Line Between Divisions - Welcom/Login Page
.vl {
    border-left: 1px solid lightgray;
    height: 410px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 25px;
  }

//   .navlink {

//     background-color: green !important;
  
//   } 
.hideme {
    display:none;
}

.showme {
    display:block;
}
.chart-item-bg { stroke: #ddd }

.chart-item-0 { stroke: #dd0000 }

.chart-item-1 { stroke: #00cc00 }

.chart-item-2 { stroke: #0000ff }
// .active a {

//     background-color: green !important;
  
//   }

//   Center Image
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}